<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Guests List</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .scrollable-table {
            max-height: 500px; /* Adjust this value as needed */
            overflow-y: auto;
        }
        .fixed-header th {
            position: sticky;
            top: 0;
            background-color: #f8f9fa;
            z-index: 1;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Guests List</h1>
        <div><button id="addGuestBtn" class="btn btn-success mb-3">Add a new Guest</button></div>
        <!-- Make the table scrollable -->
        <div class="scrollable-table">
            <table class="table table-bordered mt-4">
                <thead class="thead-dark fixed-header">
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email Address</th>
                        <th>Country</th>
                        <th>State</th>
                        <th>Phone Number</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Iterate over each guest in the guests list -->
                    <tr th:each="guest : ${guestList}">
                        <!-- Display guest information in table cells -->
                        <td th:text="${guest.id}">-</td>
                        <td th:text="${guest.firstName}">-</td>
                        <td th:text="${guest.lastName}">-</td>
                        <td th:text="${guest.email}">-</td>
                        <td th:text="${guest.country}">-</td>
                        <td th:text="${guest.state}">-</td>
                        <td th:text="${guest.phone}">-</td>
                        <td><button class="btn btn-primary editGuestBtn" th:attr="data-guest-id=${guest.id}">Edit</button></td>
                        <td><button class="btn btn-danger deleteGuestBtn" th:attr="data-guest-id=${guest.id}">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
        $(document).ready(function() {
            // Function to handle Add Guest button click
            $('#addGuestBtn').click(function() {
                $.ajax({
                    url: 'guests/view/add',
                    dataType: 'html',
                    success: function(data) {
                        $('.content').html(data);
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            });

            // Function to handle Edit Guest button click
            $(document).on('click', '.editGuestBtn', function() {
                var roomId = $(this).data('guest-id');
                $.ajax({
                    url: 'guests/view/edit/' + roomId,
                    dataType: 'html',
                    success: function(data) {
                        $('.content').html(data);
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                    }
               });
            });
           
           // Function to handle Delete button click
           $(document).on('click', '.deleteGuestBtn', function(){
        	   var roomId = $(this).data('guest-id');
        	   
        	   // make AJAX request to delete guest
        	   $.ajax({
        		   url: '/guests/view/delete/' + roomId,
        		   type: 'POST',
        		   success: function(data){
        			   $('.content').html(data);
        		   },
        		   error: function(xhr, status, error) {
        			   console.error('Error:', error);
        		   }
        	   });
           });
        });
    </script>
</body>
</html>
